<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <data>

        <!-- Acciones URL -->
        <record id="action_historial_presupuestador" model="ir.actions.act_url">
            <field name="name">Historial de Presupuestos</field>
            <field name="url">https://presupuestador-degrandisportones.vercel.app/</field>
            <field name="target">new</field>
        </record>

        <record id="action_informe_ventas" model="ir.actions.act_url">
            <field name="name">Informe de Ventas</field>
            <field name="url">https://informes-dg-portones.vercel.app/</field>
            <field name="target">new</field>
        </record>

        <!-- App: Historial de Presupuestos -->
        <menuitem
            id="menu_historial_presupuestador_root"
            name="Historial de Presupuestos"
            action="action_historial_presupuestador"
            sequence="88"
        />

        <!-- App: Informe de Ventas -->
        <menuitem
            id="menu_informe_ventas_root"
            name="Informe de Ventas"
            action="action_informe_ventas"
            sequence="89"
        />

    </data>
</odoo>
