# --- AFIP / Argentina (requerido por l10n_ar_tax) ---
# Instalación desde ZIP (evita depender de 'git' en el entorno de build)
pyafipws

# --- Dependencias del proyecto ---
pdf2image>=1.16
Pillow
Unidecode


git+https://github.com/ctmil/python-sdk-2025.git
