# --- AFIP / Argentina (requerido por l10n_ar_tax) ---
git+https://github.com/reingart/pyafipws.git@py3k#egg=PyAfipWs
git+https://github.com/pysimplesoap/pysimplesoap.git@stable_py3k#egg=PySimpleSOAP
git+https://github.com/reingart/pyfpdf.git@master#egg=pyfpdf

# --- Tus dependencias actuales ---
pdf2image>=1.16
Pillow
Unidecode
git+https://github.com/ctmil/python-sdk-2025.git
