# AFIP / Argentina (requerido por l10n_ar_tax)
PyAfipWs @ https://github.com/reingart/pyafipws/archive/refs/heads/py3k.zip
fpdf @ https://github.com/reingart/pyfpdf/archive/refs/heads/master.zip

# PySimpleSOAP desde copia local parchada (Odoo.sh)
PySimpleSOAP @ file:///home/odoo/src/user/third_party/pysimplesoap-stable_py3k

pdf2image>=1.16
Pillow
Unidecode
git+https://github.com/ctmil/python-sdk-2025.git
