<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <record id="action_mayor_sin_arrastre" model="ir.actions.client">
        <field name="name">Mayor Sin Arrastre</field>
        <field name="tag">account_report</field>
        <field name="context" eval="{'report_id': ref('account_reports.general_ledger_report'), 'sin_arrastre': True}"/>
    </record>

    <menuitem
        id="menu_mayor_sin_arrastre"
        name="Mayor Sin Arrastre"
        parent="account.menu_finance_reports"
        action="action_mayor_sin_arrastre"
        sequence="32"
        groups="account.group_account_readonly"/>
</odoo>
