<?xml version="1.0" encoding="utf-8"?>
<odoo>
  <!-- Menú raíz de Portones -->
  <menuitem id="menu_dflex_portones_root" name="Portones" sequence="10"/>
  <!-- Submenú: Importador (abre el wizard en pantalla completa) -->
  <menuitem id="menu_x_dflex_porton_importador"
            name="Importador"
            parent="menu_dflex_portones_root"
            action="action_porton_import_wizard"
            sequence="10"/>
</odoo>
