<?xml version="1.0" encoding="utf-8"?>
<odoo>
  <!-- Menú bajo el root del ledger existente -->
  <menuitem id="menu_hr_employee_ledger_balance"
            name="Cuenta Corriente"
            parent="hr_employee_ledger_simple18.menu_hr_employee_ledger_root"
            action="action_employee_ledger_balance"
            sequence="20"/>
</odoo>