<?xml version="1.0" encoding="UTF-8"?>
<odoo>
  <menuitem id="menu_dflex_portones_root" name="Portones" sequence="10"/>
  <menuitem id="menu_dflex_portones_config" name="Configuración"
            parent="base.menu_technical" sequence="90"/>

  <record id="action_dflex_bulk_fields" model="ir.actions.act_window">
    <field name="name">Crear campos (CSV)</field>
    <field name="res_model">dflex.bulk.fields.wizard</field>
    <field name="view_mode">form</field>
    <field name="target">new</field>
  </record>

  <menuitem id="menu_dflex_bulk_fields"
            name="Crear campos (CSV)"
            parent="menu_dflex_portones_config"
            action="action_dflex_bulk_fields"
            sequence="10"/>
</odoo>