<odoo>
  <!-- Raíz propia (opcional) -->
  <menuitem id="menu_dflex_root" name="DFlex" sequence="60"/>

  <!-- Menú que abre el wizard -->
  <menuitem
      id="menu_dflex_importar_portones"
      name="Importar Portones"
      parent="menu_dflex_root"                <!-- o parent="base.menu_custom" si no quieres raíz propia -->
      action="dflex_portones_import.action_dflex_porton_import"
      sequence="10"/>
</odoo>
