<?xml version="1.0" encoding="utf-8"?>
<odoo>
  <menuitem id="menu_hr_employee_ledger_root" name="Cuenta Corriente Empleado" parent="hr.menu_hr_root"/>
  <menuitem id="menu_hr_employee_ledger_moves" name="Movimientos" parent="menu_hr_employee_ledger_root" action="action_employee_ledger_moves"/>
</odoo>