<odoo>
    <data>
        <record id="action_employee_ledger_moves" model="ir.actions.act_window">
            <field name="name">Movimientos</field>
            <field name="res_model">hr.employee.ledger.move</field>
            <field name="view_mode">tree,form</field>
            <field name="context">{'search_default_employee_id': id}</field>
            <field name="help" type="html">
                <p class="o_view_nocontent_smiling_face">
                    Crea un movimiento de cuenta corriente de empleado.
                </p>
            </field>
        </record>

        <menuitem id="menu_hr_employee_ledger_root" name="Cuenta Corriente" parent="hr.menu_hr_root" sequence="80"/>
        <menuitem id="menu_hr_employee_ledger_moves" name="Movimientos" parent="menu_hr_employee_ledger_root" action="action_employee_ledger_moves"/>
    </data>
</odoo>
