
<odoo>
    <menuitem id="menu_hr_employee_ledger_root" name="Cuenta Corriente Empleados" parent="hr.menu_hr_root" sequence="95"/>
    <menuitem id="menu_hr_employee_ledger_moves" name="Movimientos" parent="menu_hr_employee_ledger_root" action="hr_employee_ledger_simple18.action_employee_ledger_moves"/>
</odoo>
